/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: 620px;
  height: 100%;
  min-height: 100%;
  font: 14px "Open Sans", "Arial", sans-serif;
  font-weight: 500;
  line-height: normal;
  color: #121212;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding-top: 105px;
  padding-bottom: 50px; }
  .page-wrapper > .container {
    margin-top: auto; }

.container {
  width: 100%;
  max-width: 904px;
  margin: 0 auto;
  padding: 0 2%; }

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; }

.header__logo {
  display: block;
  width: 115px;
  height: 45px;
  margin: 30px 0;
  background: url("../assets/images/placeholder.svg") center no-repeat;
  background-size: contain;
  font-size: 0;
  text-decoration: none; }

.request {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .request .request__wrapper {
      width: 75%; }
    .request .request__hero {
      width: 25%; } }

.request__wrapper {
  position: relative;
  display: inline-block;
  width: 80%; }

.request__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 18px 60px 18px 20px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font: 14px "Open Sans", "Arial", sans-serif;
  color: #121212;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .request__input:focus, .request__input:hover {
    outline: none;
    border-color: #a4a4a4; }

.request__rec {
  z-index: 120;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: auto;
  padding: 0;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  color: #3a7cec;
  background: #3a7cec url("../assets/images/micro.svg") center no-repeat;
  background-size: 65%;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-appearance: button;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .request__rec:before {
    content: "";
    position: absolute;
    z-index: -1; }
  .request__rec:active, .request__rec:focus, .request__rec:hover {
    background-color: #1560de;
    text-decoration: none;
    outline: 0; }
    .request__rec:active:before, .request__rec:focus:before, .request__rec:hover:before {
      left: 0; }
  .request__rec--send {
    background-image: url("../assets/images/send.svg"); }

.request__hero {
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 20%;
  height: auto; }

.response {
  max-width: 100%;
  padding: 45px 20% 45px 0; }
  .response::after {
    content: "";
    display: table;
    line-height: 0;
    clear: both; }

.response__chat {
  display: inline-block;
  float: left;
  width: auto;
  margin-bottom: 20px;
  padding: 16px 18px;
  background-color: #e6f1fc;
  border-radius: 4px; }
  .response__chat p {
    display: inline;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
    transition: all 0.3 ease; }

.response__reply {
  margin: 20px auto; }

.response__reply,
.response__request,
.response__table {
  float: right;
  width: 100%;
  max-width: 650px;
  padding: 20px;
  background-color: #f0f4f7;
  border-radius: 4px; }
  .response__reply img,
  .response__request img,
  .response__table img {
    max-width: 100%; }
  .response__reply p,
  .response__request p,
  .response__table p {
    margin-bottom: 15px; }

.response__reply {
  position: relative; }
  .response__reply.response__reply--answer p {
    margin-bottom: 0;
    padding-left: 75px; }
  .response__reply.response__reply--answer .response__replay--btn {
    display: block; }

.response__replay--btn {
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  width: 38px;
  height: 38px;
  margin: auto;
  padding: 0;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  color: #3a7cec;
  background: #3a7cec url("../assets/images/replay.svg") center no-repeat;
  background-size: 65%;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-appearance: button;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .response__replay--btn:before {
    content: "";
    position: absolute;
    z-index: -1; }
  .response__replay--btn:active, .response__replay--btn:focus, .response__replay--btn:hover {
    text-decoration: none;
    outline: 0; }
    .response__replay--btn:active:before, .response__replay--btn:focus:before, .response__replay--btn:hover:before {
      left: 0; }

.response__promo {
  width: 100%;
  float: right; }
  .response__promo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
    .response__promo ul li {
      display: inline-block;
      width: 49%;
      margin-right: 2%;
      margin-bottom: 2%; }
      .response__promo ul li:nth-child(even) {
        margin-right: 0; }
  .response__promo button {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 20px 5px;
    border: 0;
    border-radius: 6px;
    font: 16px "Open Sans", "Arial", sans-serif;
    color: #fff;
    background-color: #3a7cec;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    -webkit-appearance: button;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .response__promo button:active, .response__promo button:hover {
      text-decoration: none;
      outline: 0;
      background-color: #1560de; }
  .response__promo p {
    display: block;
    margin: 20px auto;
    float: right;
    width: auto;
    max-width: 650px;
    padding: 20px;
    background-color: #f0f4f7;
    border-radius: 4px; }
    .response__promo p:after {
      content: "";
      display: table;
      line-height: 0;
      clear: both; }

.response__table {
  max-width: 650px;
  margin: 20px auto;
  overflow: auto; }

.response__table .table {
  min-width: 100%;
  margin: 0 auto; }

.table__time p:last-of-type {
  font-weight: 500; }

.table__time,
.table__title {
  white-space: nowrap;
  font-weight: 600; }

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit; }

td {
  text-align: left;
  padding: 2px;
  font: 14px "Open Sans", "Arial", sans-serif;
  font-weight: normal; }
  td:first-of-type {
    padding-right: 30px; }
