$font: 'Open Sans', 'Arial', sans-serif;
$gray: rgb(215, 215, 215);
$blue: #3a7cec;
$blue_light: #e6f1fc;
$blue_lightest: #f0f4f7;
$black: #121212;

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	min-width: 620px;
	height: 100%;
	min-height: 100%;
	font: 14px $font;
	font-weight: 500;
	line-height: normal;
	color: $black;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding-top: 105px;
	padding-bottom: 50px;

	> .container {
		margin-top: auto;
	}
}

.container {
	width: 100%;
	max-width: 904px;
	margin: 0 auto;
	padding: 0 2%;
}

// header
.header {
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
}

.header__logo {
	display: block;
	width: 115px;
	height: 45px;
	margin: 30px 0;
	background: url("../assets/images/placeholder.svg") center no-repeat;
	background-size: contain;
	font-size: 0;
	text-decoration: none;
}

// request part
.request {
	position: relative;
	display: flex;
	align-items: flex-end;
	@media screen and (max-width: 768px) {
		.request__wrapper {
			width: 75%;
		}

		.request__hero {
			width: 25%;
		}
	}
}

.request__wrapper {
	position: relative;
	display: inline-block;
	width: 80%;
}

.request__input {
	display: block;
	width: 100%;
	height: 50px;
	padding: 18px 60px 18px 20px;
	text-overflow: ellipsis;
	font: 14px $font;
	color: $black;
	border: 1px solid $gray;
	border-radius: 4px;
	transition: all 0.3s ease;
	-webkit-appearance: none;
	box-sizing: border-box;

	&:focus,
	&:hover {
		outline: none;
		border-color: darken($gray, 20%);
	}
}

.request__rec {
	z-index: 120;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15px;
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: auto;
	padding: 0;
	border: 0;
	border-radius: 50%;
	font-size: 0;
	color: $blue;
	background: $blue url('../assets/images/micro.svg') center no-repeat;
	background-size: 65%;
	cursor: pointer;
	box-shadow: none;
	touch-action: manipulation;
	-webkit-appearance: button;
	overflow: hidden;
	transition: all 0.3s ease-in-out;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
	}

	&:active,
	&:focus,
	&:hover {
		background-color: darken($blue, 10%);
		text-decoration: none;
		outline: 0;

		&:before {
			left: 0;
		}
	}

	&--send {
		background-image: url("../assets/images/send.svg");
	}
}

.request__hero {
	position: absolute;
	right: 0;
	bottom: -30px;
	width: 20%;
	height: auto;
}

.tips {
	position: relative;

	ul {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		li {
			display: inline-block;
			width: 49%;
			margin-right: 2%;
			margin-bottom: 12px;

			&:nth-child(even) {
				margin-right: 0;
			}
		}
	}

	button {
		position: relative;
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 20px 5px;
		border: 0;
		border-radius: 6px;
		font: 16px $font;
		color: #fff;
		background-color: $blue;
		cursor: pointer;
		vertical-align: middle;
		text-align: center;
		white-space: nowrap;
		text-decoration: none;
		box-shadow: none;
		touch-action: manipulation;
		-webkit-appearance: button;
		overflow: hidden;
		transition: all 0.3s ease-in-out;

		&:active,
		&:hover {
			text-decoration: none;
			outline: 0;
			background-color: darken($blue, 10%);
		}

		&:disabled,
		&[disabled] {
			cursor: not-allowed;
			pointer-events:none;
			opacity: .6;
		}
	}
}

// response part
.response {
	max-width: 100%;
	padding: 45px 20% 45px 0;

	&::after {
		content: "";
		display: table;
		line-height: 0;
		clear: both;
	}
}

.response__chat {
	display: inline-block;
	float: left;
	width: auto;
	margin-bottom: 20px;
	padding: 16px 18px;
	background-color: $blue_light;
	border-radius: 4px;

	p {
		display: inline;
		font-size: 14px;
		transition: all 0.3 ease;
	}
}

.response__reply {
	margin: 0 auto 20px auto;
}

.response__reply,
.response__request,
.response__table {
	float: right;
	width: 100%;
	max-width: 650px;
	padding: 20px;
	background-color: $blue_lightest;
	border-radius: 4px;

	img {
		max-width: 100%;
		// margin-top: 20px;
	}

	p {
		margin-bottom: 15px;
	}
}

.response__reply {
	position: relative;
	padding-left: 65px;

	&.response__reply--answer {
		p {
			margin-bottom: 0;
			padding-left: 75px;
		}

		.response__replay--btn {
			display: block;
		}
	}
}

.response__replay--btn {
	display: none;
	z-index: 100;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	width: 38px;
	height: 38px;
	margin: auto;
	padding: 0;
	border: 0;
	border-radius: 50%;
	font-size: 0;
	color: $blue;
	background: $blue url('../assets/images/replay.svg') center no-repeat;
	background-size: 65%;
	cursor: pointer;
	box-shadow: none;
	touch-action: manipulation;
	-webkit-appearance: button;
	overflow: hidden;
	transition: all 0.3s ease-in-out;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
	}

	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
		outline: 0;

		&:before {
			left: 0;
		}
	}
}

.response__promo {
	width: 100%;
	float: right;

	p {
		display: block;
		margin: 20px auto;
    float: right;
    width: auto;
    max-width: 650px;
    padding: 20px;
    background-color: $blue_lightest;
    border-radius: 4px;

		&:after {
			content: "";
	    display: table;
	    line-height: 0;
	    clear: both;
		}
	}
}

.response__table {
	max-width: 650px;
	margin: 20px auto;
	overflow: auto;
}

.response__table .table {
	min-width: 100%;
	margin: 0 auto;
}

.table__time {
	p:last-of-type {
		font-weight: 500;
	}
}

.table__time,
.table__title {
	white-space: nowrap;
	font-weight: 600;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

td {
	text-align: left;
	padding: 2px;
	font: 14px $font;
	font-weight: normal;

	&:first-of-type {
		padding-right: 30px;
	}
}
